.bg-blue-css,.btn-design{
    background-color: #1A187A;
}
#navbarSupportedContent ul li a,.icons-font i{color: white;}
.headphone{
    background-image: url('/images/Iphone-headphone.png') !important;
    background-size: cover;
    background-position: center;   
    height: 180px;
}
.ipad-headphone{
    margin-left: -20px;
}
.mackbook{
    position: relative;
}
#carouselExample {
    background-image: url('/images/banner.png');
    background-size: cover;
    background-position: center;
}
.c-images{
    position: relative;
    top: 200px;
}
.size-images{
    width: 80%;
}
@media (max-width: 768px) {
    .carousel-item .d-flex {
      flex-direction: column;
    }
    .carousel-item .text-right {
      text-align: center;
    }
    .carousel-item img {
      width: 100%;
    }
    .c-images{
        top: 40px;
    }
  }
  